body{
				border-style:solid;
}
.main{
				text-align: center;
}
#cs img{
			 position: absolute;
				width: 8%;
				margin-top:10px;
				margin-left:10px;
}
.back img{
				width: 7%;
				margin-left:1em;
				margin-top:1em;
				position: absolute;
}
#mainlogo img{
				width: 30%;
				margin-top:10px;
}
.button button{
				width: 10em;
				height: 2em;
				background: white;
}
#button1{
				margin-top:2em;
}
#button3{
				margin-bottom:11em;
}
.login input{
				background: white;
}
#input1 input{
			width: 12em;
			margin-top:1em;
			margin-bottom:1em;
			height: 25px;
}
#input2 input{
		 width:12em;
			margin-bottom:2em;
			height: 25px;
}
#list{
				font-size:17px;
}
#continue{
        
      margin-top:7em;
				margin-bottom:11em;
}
#logon input{
				width: 7em;
				margin-bottom:15em;
}
.email form{
				margin-bottom:2em;
}
.section button{

      margin-top:1em;
				width: 8em;
				height: 2em;
				font-size:30px;
				padding-top:0px;
				padding-bottom:0px;
				
}
.section #seven button{
				margin-bottom:1em;
}
